body {
    background-color: rgb(255, 255, 255);
    
    
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

.head {
    width: 100%;
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: 1fr;
    border-bottom: 0.1px solid #B3B2B0; 
    position: fixed;
    background-color: #ffffff;
    box-shadow: 2px 1px 10px 0px lightgrey;
    
} 



.pic {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}

.tri {
    object-fit: cover;
    height: 150px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 6px 2px lightgrey;
    border-radius: 50%;
    padding: .5rem;
}

header {
    margin: 30px 0 30px 20px;
    line-height: 40px;
}



.bio-info {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-column: repeat (4, 1fr);
    grid-row: 1fr 1fr;
    padding: 450px 140px 140px 140px;
    
}

.two {
    display: none;
}

.about-me {
    
    font-family: "EB Garamond";
    line-height: 25px;
    font-size: 14px;
    color: #333333;
    display: flex;
    justify-content: center;

}

.links {
    height: 60px;
    display: flex;
    justify-content: center;
    grid-row: 2;
}

.social {
    
    margin-top: 20px;
    margin-left: 20px; 
    
}
.box-header {
    font-family: "EB Garamond";
    font-size: 1.3em;
    padding: 10px;
    color: #20201E;
    background-color: white;
    border-bottom: 2px dotted black;
    
    
   
}

h1 {
    
    font-family: "Oswald";
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    
}

h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 3em;
    color: #B3B2B0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

main {
   
    padding: 10px;
    color: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr) ; 
    
}


.box {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    

}




.project1 {
    background-image: url(assets/lake.jpg);
}

.project2 {
    background-image: url(assets/empire.jpg);
}

.project3 {
    background-image: url(assets/person.jpg);
}

.project4 {
    
    background-image: url(assets/tree.jpg);
}

.project5 {
    background-image: url(assets/geo.jpg);
}

.project6 {
    background-image: url(assets/sand.jpg);
}

.project7 {
    background-image: url(assets/bridge.jpg);
}

.project8 {
    background-image: url(assets/lens.jpg);
}



/* Fixed Header on-scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
    
  }
.sticky + .bio-info {
    padding-top: 105px;
}





@media only screen and (min-width: 600px) {

   
   
   
    .head {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
    } 

    header {
        grid-column: span 2;
    }

    .bio-info {
        padding-top: 200px;
    }
    .one{
       display: none;
    }

    .two {
        display: flex;
    }
    
    .about-me {
        padding: 20px 250px 0px 250px;
    }

    .bio-heading {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        font-weight: bold;
    }
    .links {
        grid-column: 5;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;

    }
   
    main {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr); 
    padding: 50px 140px 140px 140px;
    }


    
    .box {
        height: 300px;
    }
    

}